---
import Layout from "../layouts/layout.astro";
import FaIcon from "../components/FaIcon.astro";
import { faWindows } from "@fortawesome/free-brands-svg-icons";
---

<Layout title="Overlap" class="pt-24 pb-16 text-center text-[#10191E]">
  <h1 class="mb-4 text-center font-['Bitter',_serif] text-6xl font-semibold underline">
    Overlap
  </h1>
  <div class="mb-16 px-16">
    <p class="mb-8 text-gray-900">
      See and control your music seamlessly in-game.
      <!-- <br class="hidden sm:inline">
        Open source, lightweight, and fast. -->
    </p>
    <button class="mx-auto flex cursor-pointer items-center gap-2 rounded-md bg-[#10191E] px-4 py-2 font-normal text-white">
      <FaIcon icon={faWindows} />
      Download for Windows
    </button>
  </div>
  <div class="px-8 text-sm text-gray-900">
    <p class="flex items-center justify-center gap-2 px-12 font-semibold">
      Overlap is currently in
      <span class="rounded border border-black px-1 py-0.5">ALPHA</span>
    </p>
    <img class="my-4 bg-gradient-to-bl from-violet-200 to-pink-200 p-4" src="/preview.webp">
    <p class="px-12 text-gray-700">
      Please report any issues you encounter on
      <a class="text-[#00DFA2] underline underline-offset-2" href="https://github.com/nedaras/overlap/issues">GitHub.</a>
    </p>
  </div>
</Layout>
