---
import "../styles/global.css";
import FaIcon from "../components/FaIcon.astro";
import { faWindows } from "@fortawesome/free-brands-svg-icons";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Overlap</title>
  </head>
  <!-- primary - #10191E -->
  <body>
    <header class="px-16 py-16 text-center text-[#10191E]">
      <h1 class="mb-2 text-center font-['Bitter',_serif] text-6xl font-medium">
        Overlap
      </h1>
      <p class="mb-4">
        See and control your music seamlessly in-game.
        <br class="hidden sm:inline">
        Open source, lightweight, and fast.
      </p>
      <button class="rounded-md bg-[#10191E] px-4 py-2 text-white font-normal cursor-pointer">
        <FaIcon icon={faWindows} />
        Download for Windows
      </button>
    </header>
	</body>
</html>
