---
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Overlap</title>
	</head>
	<body>
    <h1 class="text-center text-6xl">
      Overlap
    </h1>
    <p class="px-8 text-center">
      See and control your music seamlessly in-game.
      <br class="hidden sm:inline">
      Open source, lightweight, and fast.
    </p>
	</body>
</html>
