---
import FaIcon from "../components/FaIcon.astro";
import { faGithub, faPatreon } from "@fortawesome/free-brands-svg-icons";
---

<footer class="grid gap-4 bg-[#10191E] p-8 text-center text-sm text-white dark:bg-white dark:text-black">
  <section class="flex flex-col gap-1">
    <h2 class="text-base font-semibold">Follow Us</h2>
    <ul class="flex flex-col gap-2 text-gray-300 dark:text-gray-700">
      <li>
        <a class="border-white hover:border-b hover:text-white dark:border-black dark:hover:text-black" href="https://github.com/nedaras/overlap">
          <FaIcon icon={faGithub} />
          GitHub
        </a>
      </li>
    </ul>
  </section>
  <section class="flex flex-col gap-1">
    <h2 class="text-base font-semibold">Support Us</h2>
    <ul class="flex flex-col gap-2 text-gray-300 dark:text-gray-700">
      <li>
        <a class="border-white hover:border-b hover:text-white dark:border-black dark:hover:text-black" href="#">
          <FaIcon icon={faPatreon} />
          Patreon
        </a>
      </li>
    </ul>
  </section>
  <section class="flex flex-col gap-1">
    <h2 class="text-base font-semibold">Overlap Projects</h2>
    <ul class="flex flex-col gap-2 text-gray-300 dark:text-gray-700">
      <li>
        <a class="border-white hover:border-b hover:text-white dark:border-black dark:hover:text-black" href="#">
          Launcher
        </a>
      </li>
      <li>
        <a class="border-white hover:border-b hover:text-white dark:border-black dark:hover:text-black" href="https://github.com/nedaras/overlap-site">
          Website
        </a>
      </li>
      <li>
        <a class="border-white hover:border-b hover:text-white dark:border-black dark:hover:text-black" href="https://github.com/nedaras/overlap">
          Overlay
        </a>
      </li>
    </ul>
  </section>
  <section class="flex flex-col gap-1">
    <h2 class="text-base font-semibold">Links</h2>
    <ul class="flex flex-col gap-2 text-gray-300 dark:text-gray-700">
      <li>
        <a class="border-white hover:border-b hover:text-white dark:border-black dark:hover:text-black" href="/">
          Home
        </a>
      </li>
    </ul>
  </section>
</footer>
