---
import FaIcon from "../components/FaIcon.astro";
import { faGithub, faPatreon } from "@fortawesome/free-brands-svg-icons";
---

<footer class="grid text-center gap-4 bg-[#10191E] p-8 text-sm text-white">
  <section class="flex gap-1 flex-col">
    <h2 class="text-base font-semibold">Follow Us</h2>
    <ul class="flex flex-col gap-2 text-gray-300">
      <li>
        <FaIcon icon={faGithub} />
        Github
      </li>
    </ul>
  </section>
  <section class="flex flex-col gap-1">
    <h2 class="text-base font-semibold">Support Us</h2>
    <ul class="flex flex-col gap-2 text-gray-300">
      <li>
        <FaIcon icon={faPatreon} />
        Patreon
      </li>
    </ul>
  </section>
  <section class="flex flex-col gap-1">
    <h2 class="text-base font-semibold">Overlap Projects</h2>
    <ul class="flex flex-col gap-2 text-gray-300">
      <li>Launcher</li>
      <li>Website</li>
      <li>Overlay</li>
    </ul>
  </section>
  <section class="flex flex-col gap-1">
    <h2 class="text-base font-semibold">Links</h2>
    <ul class="flex flex-col gap-2 text-gray-300">
      <li>Download</li>
      <li>Home</li>
    </ul>
  </section>
</footer>
