---
import Logo from "../assets/logo.svg?raw"
---

<nav class="p-4 shadow">
  <div class="flex items-center text-3xl">
    <Fragment set:html={Logo} />
    <span class="text-xl font-bold">
      Overlap
    </span>
  </div>
</nav>
